@inherits LayoutComponentBase

<RadzenDialog />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Gap="0" class="rz-px-4">
            
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1">
                <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            </RadzenStack>

            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                <RadzenAppearanceToggle />
            </RadzenStack>
            
        </RadzenStack>
    </RadzenHeader>
    
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="Stagioni" Icon="book" Path="/stagioni" />
            <RadzenPanelMenuItem Text="Campionati" Icon="emoji_events" Path="/campionati" />
            <RadzenPanelMenuItem Text="Squadre" Icon="groups" Path="/squadre" />
            <RadzenPanelMenuItem Text="Campionati Italiani" Icon="emoji_events" Path="/campionati-italiani" />
            <RadzenPanelMenuItem Text="Campionati Inglesi" Icon="emoji_events" Path="/campionati-inglesi" />
            <RadzenPanelMenuItem Text="Campionati Spagnoli" Icon="emoji_events" Path="/campionati-spagnoli" />
            <RadzenPanelMenuItem Text="Campionati Tedeschi" Icon="emoji_events" Path="/campionati-tedeschi" />
            <RadzenPanelMenuItem Text="Campionati Francesi" Icon="emoji_events" Path="/campionati-francesi" />
            <RadzenPanelMenuItem Text="Campionati Portoghesi" Icon="emoji_events" Path="/campionati-portoghesi" />
            <RadzenPanelMenuItem Text="Campionati Olandesi" Icon="emoji_events" Path="/campionati-olandesi" />
            <RadzenPanelMenuItem Text="Campionati Turchi" Icon="emoji_events" Path="/campionati-turchi" />
            <RadzenPanelMenuItem Text="Campionati Belgi" Icon="emoji_events" Path="/campionati-belgi" />
            <RadzenPanelMenuItem Text="Campionati Cechi" Icon="emoji_events" Path="/campionati-cechi" />
            <RadzenPanelMenuItem Text="Campionati Greci" Icon="emoji_events" Path="/campionati-greci" />
            <RadzenPanelMenuItem Text="Campionati Polacchi" Icon="emoji_events" Path="/campionati-polacchi" />

        </RadzenPanelMenu>
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>

    <RadzenFooter>
        <div class="rz-p-4">
            &copy; 2026 - Cerebotani Gabriele Tagliani Soccer
        </div>
    </RadzenFooter>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    bool sidebar1Expanded = true;
}